.homepage {
//   background-color: $black-100;
  padding: 0;
  // padding-top: 3.5rem;
  // background-color: red;
  .landing_div {
    margin: 0 auto;
    max-width: 1920px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50% 100%;
  }
}